@charset "UTF-8";

a{ text-decoration: none}

.title{
	width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    background-color: rgb(51, 85, 139);
}

.word{
	color: white;
    font-size: 46px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.8px;
    position: relative;
    z-index: 20;
}

.searchbar{
	display: inline-block;
    width: 636px;
    height: 50px;
    color: rgb(34, 34, 34);
    font-size: 20px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    margin: 14px 0px 14px 54px;
    padding: 0px 20px;
    border-width: 0px 0px 0px 1px;
    border-image: initial;
    border-left: 3px solid rgb(221, 221, 221);
    outline: none;
}

.picture{
	float: left;
    width: 230px;
    height: 200px;
    background-color: aqua;
}

.picture>img{
	width: 230px;
    height: 200px;
}

.viewsection{
	width: 100%;
    height: 400px;
    position: relative;
    border-top: 3px solid rgb(235, 235, 235);
}

.picturepart{
	width: 100%;
    height: 95%;
    position: relative;
    margin-top: 50px;
    
}

.picturetitle{
	font-size: 20px;
    float: left;
    width: 185px;
    height: 28px;
    color: black;
    position: relative;
    margin-top: 15px;
    font-weight: 600;
}

.part{
	width: 250px;
    height: 250px;
    border: gray;
    margin-left: 30px;
    display: inline-block;
}

.firstpara{
	
	margin-top:20px;
}

.secondpara{
	margin-top:20px;
}


.thirdpara{
	margin-top:20px;
}

.titleline{
	height:50px;
}

.search{
	margin : auto;
	text-align: center;
}

#roombtn{
    position: relative;
    right: 7%;
    top: 50%;
    height: 40px;
}

.favorite{
	width: 36px;
    height: 36px;
    position: absolute;
    top: 3px;
    z-index: 1;
    cursor: pointer;
}

.favorite>img{
	width:36px;
	height:36px;
	margin-left:185px;
}
